* {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
}

nav #main-menu li a {
    color: black;
    font-weight: bold;
    display: block;
    padding: 30px 50px;
}

#main-menu {
    display: flex;
}

nav #main-menu li:hover a {
    background: #c23616;
    transition: all 0.3s;
}

@media screen and (max-width: 768px) {
    #main-menu {
        flex-direction: column;
        text-align: center;
    }
    #toggle {
        display: block;
    }
    nav {
        display: none;
    }
}

#toggle {
    background: #353b48;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    display: none;
    cursor: pointer;
}